*{
  margin:0;
padding:0;
}

body {
background: black;
color:green;
font-family: monospace;
}

#info{
  /*fds*/
}

.desc{
margin-left: 100px;
display: block;
}
#workingdiv {
margin-bottom: 100px;
}
input[type=text]{
outline:none;
border: none;
background:inherit;
color: green;
margin-left: 7px;
width: calc(100% - 150px );
overflow-wrap: initial;
font-family:monospace;
}
input[type=text]:focus{
outline:none;
border: none;
}

#container {
width: 95%;
margin:0 auto;
}